.navbar{
  display: flex;
  justify-content: space-around;
  background-color: rgb(176, 11, 11);
  height: 70px;
  align-items: center;
}
.btn{
  margin: 15px;
  text-decoration: none;
  color: white;
  background-color: rgb(176, 11, 11);
  border: none;
  font-size: larger;
}
button:hover{
  background-color: maroon;
  height: 70px;
}
.home_Container{
  text-align: center;
  marginTop:"200px";
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
